balena-etcher-electron/
baloofileinformationrc
BetterDiscord/
chromium/
cmus/cache
cmus/command-history
cmus/lib.pl
cmus/playlists
cmus/search-history
dconf/
discord/
discordcanary/
dolphin.kmessagebox
dolphinrc
gh/
gtk-3.0/
hexchat/
JetBrains/
kdeglobals
Kid3/
kiorc
kservicemenurc
ktrashrc
LICENSE
mimeapps.list
obsidian/
packet_tracer/
pavucontrol-qt/pavucontrol-qt.conf
pavucontrol.ini
pulse/
qBittorrent/
QtProject.conf
session/
sublime-text/Installed Packages
sublime-text/Local
sublime-text/Log
supertuxkart/
Thunar/
trashrc
vlc/
xfce4/
ytmdl/
