
[submodule "nvim/vim-plug/vim-toml"]
	path = nvim/vim-plug/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "nvim/vim-plug/vim-airline"]
	path = nvim/vim-plug/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "nvim/vim-plug/nerdtree"]
	path = nvim/vim-plug/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "nvim/vim-plug/vim-fish"]
	path = nvim/vim-plug/vim-fish
	url = https://github.com/georgewitteman/vim-fish
[submodule "nvim/vim-plug/vim-wakatime"]
	path = nvim/vim-plug/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime
[submodule "nvim/vim-plug/nvim-treesitter"]
	path = nvim/vim-plug/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/vim-plug/catppuccin"]
	path = nvim/vim-plug/catppuccin
	url = https://github.com/catppuccin/nvim
