baloofileinformationrc
dolphin.kmessagebox
dolphinrc
kdeglobals
kiorc
kservicemenurc
ktrashrc
LICENSE
mimeapps.list
pavucontrol.ini
QtProject.conf
trashrc
balena-etcher-electron/
BetterDiscord/
chromium/
cmus/search-history
cmus/command-history
cmus/lib.pl
cmus/cache
cmus/playlists
dconf/
discord/
discordcanary/
gh/
gtk-3.0/
hexchat/
JetBrains/
Kid3/
obsidian/
packet_tracer/
pulse/
qBittorrent/
session/
sublime-text/Installed Packages
sublime-text/Local
sublime-text/Log
supertuxkart/
Thunar/
vlc/
xfce4/
ytmdl/
